
html{
	background: black;
}
button{
	background: orange;
	border: 0;
	border-radius: 15px;
	padding-left: 10px; 
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 100px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
	font-weight: bold;
}
#radar{
	width: 800px;
}
.container{
	text-align: center;
	position: relative;
	width: 630px;
	margin: 0 auto;
}
#blip{
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 10px;
	display: none;
	z-index: 50;
}
.missle{
	text-align: center;
	position: relative;
	width: 100px;
	height: 100px;
	background-color: orange;
}
.buttonsContainer{
	text-align: center;
}
.imgcontainer{
	width: 1180px;
	height: 850px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: -275px;
}

#radar{
	width: 1180px;
	height: 850px;
}
#end{
	width: 100%;
	position: absolute;
	z-index: 250;
}
#leftside{
	position: absolute;
	left: -250px;
	top: 325px;
	z-index: 200;
	width: 120px;
}
#rightside{
	position: absolute;
	right: -250px;
	top: 325px;
	z-index: 200;
	width: 120px;
}
#counter{
	color: red;
	position: relative;
	font-size: 20px;
}












