
html{
	background: black;
}
#radar{
	width: 800px;
}
.container{
	text-align: center;
	position: relative;
	width: 630px;
	margin: 0 auto;
}
#blip{
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 10px;
	display: none;
	z-index: 50;
}
.missle{
	text-align: center;
	position: relative;
	width: 100px;
	height: 100px;
	background-color: orange;
}
.buttonsContainer{
	text-align: center;
}
.imgcontainer{
	width: 1180px;
	height: 850px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: -275px;
}

#radar{
	width: 1180px;
	height: 850px;
}
#end{
	width: 100%;
	position: absolute;
	z-index: 100;
}